---
import BaseLayout from '@/layouts/BaseLayout.astro';
import CardProject from '@/components/CardProject.astro';
import projects from '@/data/open-api.json';
---

<BaseLayout>
  <div
    class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div
      class="min-h-screen absolute inset-x-0 top-0 items-center justify-center hidden overflow-hidden md:flex md:inset-y-0"
    >
      <svg viewBox="0 0 88 88" class="w-full max-w-screen-xl text-indigo-100">
        <circle fill="currentColor" cx="44" cy="44" r="15.5"></circle>
        <circle fill-opacity="0.2" fill="currentColor" cx="44" cy="44" r="44"
        ></circle>
        <circle fill-opacity="0.2" fill="currentColor" cx="44" cy="44" r="37.5"
        ></circle>
        <circle fill-opacity="0.3" fill="currentColor" cx="44" cy="44" r="29.5"
        ></circle>
        <circle fill-opacity="0.3" fill="currentColor" cx="44" cy="44" r="22.5"
        ></circle>
      </svg>
    </div>

    <div class="relative grid gap-5 sm:grid-cols-2 lg:grid-cols-4">
      {projects.map((props: any) => <CardProject {...props} />)}
    </div>
  </div>
</BaseLayout>
